include ../partials/header.pug
script.
  party = !{JSON.stringify(party)}

h1 Qui prend quoi ?
h2 Événement #{party.name}
h3 Créé par #{party.author}

div.share
  label(for="url") Partagez l'événement
  input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} vous invite à rejoindre l'événément ${party.name}`)

p.titleItem Liste d'objets :

div.deleteItem
    each item in party.items
      form(method="post" action=`/party/${party._id}/items/${item._id}`)
        p= `${item.name} - ${item.user}`
        button(type="submit") Supprimer
    if party.items.length === 0 
      p.add Il n'y a pas encore d'objet. Ajoutez-en un !
 
div.addItem
  form(method="post" action=`/party/${party._id}/items`)
    div
      label(for="user") Apporteur de l'objet
      input(name="user" id="user" required placeholder="Nom")
      label(for="name") Objet
      input(name="name" id="name" required placeholder="Objet")
    button(type="submit") Ajouter
